.panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  //   background-color: blue;

  .panel-header {
    width: 100%;
    height: 52px;
    // background-color: red;

    .panel-header-icon {
      width: 100%;
      height: 100%;
    }
  }

  .panel-content {
    width: 100%;
    flex: 1;
    // background-color: green;
  }
}
