.records {
  width: 650px;
  height: 100%;

  .records-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d";
    gap: 58px 122px;

    .records-content-item {
      width: 250px;
      height: 102px;
      // background-color: red;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 31px;

      .records-content-item-icon {
        width: 90px;
        height: 90px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .records-content-item-right-value {
        width: 100%;
        font-family: "PingFang SC";
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
      }

      .records-content-item-right-label {
        width: 100%;
        font-family: "PingFang SC";
        font-size: 27px;
        font-weight: 400;
        color: #ffffff;
        opacity: 0.6;
      }
    }
  }
}
