.records {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .records-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    .records-item-icon {
      width: 60px;
      height: 60px;
    }
    .records-item-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }
    // background-color: red;
  }
}
