.left-side {
  // background-color: red;
  width: 1372px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 72px;

  .left-side-row1 {
    width: 100%;
    height: 368px;
    // background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-content: center;
    align-items: center;
    gap: 48px;
  }

  .left-side-row2 {
    width: 100%;
    height: 414px;
    // background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-content: center;
    align-items: center;
    gap: 48px;
  }

  .left-side-row3 {
    width: 100%;
    height: 403px;
    // background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .left-side-row4 {
    width: 100%;
    height: 402px;
    // background-color: yellow;
    gap: 20px;
  }
}
