.scenario {
  width: 100%;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .scenario-header {
    width: 100%;
    height: 52px;
    background-image: url("@/assets/header-bg-big.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .scenario-header-title {
      position: absolute;
      top: 8px;
      left: 40px;
      line-height: 28px;

      font-family: "PingFang SC";
      font-size: 20px;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: 0.4px;
    }
  }

  .scenario-content {
    width: 100%;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    font-family: "PingFang SC";
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

    .scenario-content-item {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: gray;
    }

    .scenario-content-item-status {
      width: 64px;
      height: 22px;
      // background-color: blue;
      position: absolute;
      top: 5px;
      right: 12px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .scenario-content-item-status-icon {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: rgba(93, 255, 174, 1);
      }
    }

    .scenario-content-item-bottom {
      width: calc(100% - 24px);
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: 12px;
      padding-right: 12px;
      background-color: rgba(0, 0, 0, 0.08);

      .scenario-content-item-bottom-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        .scenario-content-item-bottom-left-play {
          width: 14px;
          height: 14px;
          background-image: url("@/assets/play.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
