.right-side {
  width: 1372px;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 104px;
  // background-color: blue;

  .right-side-row1 {
    width: 100%;
    height: 743px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    // background-color: red;
  }

  .right-side-row2 {
    width: 100%;
    height: 894px;
    display: flex;
    background-color: green;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
  }
}
